@font-face {
    font-family: iconfont;
    src: url(../font/iconfont.ttf) format('truetype')
}

.iconfont {
    font-family: iconfont !important;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased
}

.icon-fanhui:before {
    content: "\e604"
}

.icon-book:before {
    content: "\e610"
}

.icon-meun:before {
    content: "\e648"
}

.icon-jiaoyu:before {
    content: "\e632"
}

.icon-duihao:before {
    content: "\e623"
}

.icon-iconfontxuexiaoguanli:before {
    content: "\e631"
}

.icon-fd:before {
    content: "\e621"
}

.icon-shouye:before {
    content: "\e6a2"
}

.icon-shijian:before {
    content: "\e696"
}

.icon-dianhua:before {
    content: "\e627"
}

.icon-gengduo2:before {
    content: "\e612"
}

.icon-location_1:before {
    content: "\e665"
}

.icon-gexing1:before {
    content: "\e65c"
}

.icon-shouji:before {
    content: "\e613"
}

.icon-zaixianxuexi:before {
    content: "\e635"
}

.icon-shaixuan:before {
    content: "\e62d"
}

.icon-study:before {
    content: "\e60d"
}

.icon-gerenzhongxin:before {
    content: "\e60c"
}

.icon-woDeZhangHao:before {
    content: "\e625"
}

.icon-tuandui:before {
    content: "\e6a3"
}

.icon-iconfont5:before {
    content: "\e63a"
}

.icon-zixun:before {
    content: "\e60b"
}

.icon-gerenziliao:before {
    content: "\e641"
}

.icon-tubiaomoban06:before {
    content: "\e601"
}

.icon-yingyuceshi:before {
    content: "\e640"
}

.icon-shijian1:before {
    content: "\e6ac"
}

.icon-shaixuan1:before {
    content: "\e666"
}

.icon-jiahao:before {
    content: "\e618"
}

.icon-chakan:before {
    content: "\e769"
}

.icon-book-copy-copy-copy:before {
    content: "\e602"
}

.icon-xianxiaxuexi:before {
    content: "\e7f5"
}

.icon-zixun1:before {
    content: "\e6d9"
}

.icon-gouwu:before {
    content: "\e680"
}

.icon-about:before {
    content: "\e60e"
}

.icon-mima:before {
    content: "\e61e"
}

.icon-shouye1:before {
    content: "\e6cb"
}

.icon-zhifubao:before {
    content: "\e65d"
}

.icon-gexing:before {
    content: "\e64e"
}

.icon-zixun2:before {
    content: "\e622"
}

.icon-shoushizuoyouhuadong:before {
    content: "\e645"
}

.icon-xinwenzixunguanliicon:before {
    content: "\e7a8"
}

.icon-shouji1:before {
    content: "\e649"
}

.icon-book1:before {
    content: "\e624"
}

.icon-xiangqing:before {
    content: "\e6a9"
}

.icon-shu-copy:before {
    content: "\e614"
}

.icon-icon02:before {
    content: "\e606"
}

.icon-yanzhengma:before {
    content: "\e608"
}

.icon-noun111412cc:before {
    content: "\e61d"
}

.icon-jiqixuexi01:before {
    content: "\e616"
}

.icon-tuichu01:before {
    content: "\e60f"
}

.icon-kefu4:before {
    content: "\e603"
}

.icon-gengduo:before {
    content: "\e61a"
}

.icon-shuzhongdie:before {
    content: "\e615"
}

.icon-shangxiajiantou:before {
    content: "\e655"
}

.icon-shangxiajiantou-copy:before {
    content: "\e600"
}

.icon-7xuexirenwu:before {
    content: "\e738"
}

.icon-wangjimima:before {
    content: "\e609"
}

.icon-huidingbu:before {
    content: "\e716"
}

.icon-wodexuexi:before {
    content: "\e6bb"
}

.icon-icon:before {
    content: "\e60a"
}

.icon-exuexitubiao29:before {
    content: "\e66c"
}

.icon-gengduo1:before {
    content: "\e664"
}

.icon-youxiang1:before {
    content: "\e61c"
}

.icon-dianhua1:before {
    content: "\e899"
}

.icon-xueyuan_on:before {
    content: "\e61f"
}

.icon-xueximanfen:before {
    content: "\e683"
}

.icon-payment:before {
    content: "\e605"
}

.icon-neirong:before {
    content: "\e633"
}

.icon-xueyuanliebiao:before {
    content: "\e619"
}

.icon-xiugaimima:before {
    content: "\e6aa"
}

.icon-liuxue:before {
    content: "\e643"
}

.icon-kecheng:before {
    content: "\e651"
}

.icon-yuyannengli:before {
    content: "\e65b"
}

.icon-shu:before {
    content: "\e65a"
}

.icon-iconfont-kaoshi:before {
    content: "\e611"
}

.icon-tubiaozhizuomoban:before {
    content: "\e620"
}

.icon-xuexi1:before {
    content: "\e61b"
}

.icon-remen:before {
    content: "\e617"
}
